@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');


* {
margin: 0;
padding: 0;
font-family: 'Shizuru';
}
body {
  background: linear-gradient(to right, #870000, #190a05);
  // background-size: cover;
}